# Data
data/**

# Mantener estructura
!data/
!data/**/
!data/**/.gitkeep

# Entorno virtual
.venv/

# Archivos creados por python
__pycache__/**
*.pyc
*.pyo

# Archivos de configuración de IDEs
.vscode/
